@model MoneyFex.Core.Entities.Transaction
@using MoneyFex.Core.Entities
@using MoneyFex.Core.Entities.Enums

@{
    ViewData["Title"] = "Transaction Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var bankDeposit = ViewBag.BankDeposit as BankAccountDeposit;
    var mobileTransfer = ViewBag.MobileTransfer as MobileMoneyTransfer;
    var cashPickup = ViewBag.CashPickup as CashPickup;
    var kiiBankTransfer = ViewBag.KiiBankTransfer as KiiBankTransfer;
    var transactionType = ViewBag.TransactionType as string ?? "Transaction";
    
    // Get receiver information based on transaction type
    string receiverName = "";
    string receiverAccountNo = "";
    string receiverPhone = "";
    string receiverCity = "";
    string receiverCountry = "";
    string bankName = "";
    string bankBranch = "";
    
    if (bankDeposit != null)
    {
        receiverName = bankDeposit.ReceiverName ?? "";
        receiverAccountNo = bankDeposit.ReceiverAccountNo ?? "";
        receiverCity = bankDeposit.ReceiverCity ?? "";
        receiverCountry = Model.ReceivingCountry?.CountryName ?? Model.ReceivingCountryCode;
        bankName = bankDeposit.BankName ?? bankDeposit.Bank?.Name ?? "";
    }
    else if (mobileTransfer != null)
    {
        receiverName = mobileTransfer.ReceiverName ?? "";
        receiverAccountNo = mobileTransfer.PaidToMobileNo ?? "";
        receiverCity = mobileTransfer.ReceiverCity ?? "";
        receiverCountry = Model.ReceivingCountry?.CountryName ?? Model.ReceivingCountryCode;
    }
    else if (cashPickup != null)
    {
        if (cashPickup.Recipient != null)
        {
            receiverName = cashPickup.Recipient.ReceiverName ?? "";
        }
        else if (cashPickup.NonCardReceiver != null)
        {
            receiverName = cashPickup.NonCardReceiver.FullName ?? "";
            receiverPhone = cashPickup.NonCardReceiver.PhoneNumber ?? "";
        }
        receiverAccountNo = cashPickup.MFCN ?? "";
        receiverCountry = Model.ReceivingCountry?.CountryName ?? Model.ReceivingCountryCode;
    }
    else if (kiiBankTransfer != null)
    {
        receiverName = kiiBankTransfer.ReceiverName ?? "";
        receiverAccountNo = kiiBankTransfer.AccountNo ?? "";
        receiverCountry = Model.ReceivingCountry?.CountryName ?? Model.ReceivingCountryCode;
    }
    
    // Get currency symbols
    string sendingCurrencySymbol = Model.SendingCurrency == "GBP" ? "£" : 
                                   Model.SendingCurrency == "USD" ? "$" : 
                                   Model.SendingCurrency == "EUR" ? "€" : 
                                   Model.SendingCurrency;
    string receivingCurrencySymbol = Model.ReceivingCurrency == "NGN" ? "₦" : 
                                     Model.ReceivingCurrency == "GHS" ? "₵" : 
                                     Model.ReceivingCurrency == "KES" ? "KSh" : 
                                     Model.ReceivingCurrency;
    
    // Get staff names
    string payingStaffName = Model.PayingStaff?.FirstName + " " + Model.PayingStaff?.LastName ?? "";
    string updatedByStaffName = Model.UpdatedByStaff?.FirstName + " " + Model.UpdatedByStaff?.LastName ?? "";
    string transactionStaff = !string.IsNullOrEmpty(payingStaffName) ? payingStaffName : 
                             !string.IsNullOrEmpty(updatedByStaffName) ? updatedByStaffName : "N/A";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="f-left f-left m-t-5 m-b-0">
                                        <label class="text-primary">@(Model.Sender?.FirstName ?? "") @(Model.Sender?.LastName ?? "")</label>
                                        <span>
                                            Account No: @(Model.Sender?.AccountNo ?? "N/A")
                                            <br>Country: @(Model.SendingCountry?.CountryName ?? Model.SendingCountryCode)
                                        </span>
                                    </h4>
                                    <a href="@Url.Action("Index", "TransactionHistory")" class="btn btn-primary f-right btn-round">
                                        <i class="fa fa-angle-left m-r-5"></i> Back
                                    </a>
                                </div>

                                <div class="card-body">
                                    <div class="col-lg-6 col-sm-12 col-xs-12 offset-lg-3">
                                        <div class="dt-responsive table-responsive">
                                            <table width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="p-t-10 p-b-10">
                                                                <h5>@transactionType</h5>
                                                                <span class="text-primary">@Model.ReceiptNo</span>
                                                            </div>
                                                        </td>
                                                        <td align="right">
                                                            <div class="p-t-10 p-b-10">
                                                                <h5>@transactionType</h5>
                                                                <span class="text-success">@Model.Status</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                            <table class="table table-striped table-bordered nowrap">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left">Sender</td>
                                                        <td class="text-left">@(Model.Sender?.FirstName ?? "") @(Model.Sender?.LastName ?? "")</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Email Address</td>
                                                        <td class="text-left">@(Model.Sender?.Email ?? "N/A")</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Telephone</td>
                                                        <td class="text-left">@(Model.Sender?.PhoneNumber ?? "N/A")</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Account No</td>
                                                        <td class="text-left">@(Model.Sender?.AccountNo ?? "N/A")</td>
                                                    </tr>
                                                    @if (!string.IsNullOrEmpty(receiverName))
                                                    {
                                                        <tr>
                                                            <td class="text-left">Receiver Name</td>
                                                            <td class="text-left">@receiverName</td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(receiverPhone))
                                                    {
                                                        <tr>
                                                            <td class="text-left">Receiver Telephone</td>
                                                            <td class="text-left">@receiverPhone</td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(bankName))
                                                    {
                                                        <tr>
                                                            <td class="text-left">Bank Name</td>
                                                            <td class="text-left">@bankName</td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(bankBranch))
                                                    {
                                                        <tr>
                                                            <td class="text-left">Bank Branch</td>
                                                            <td class="text-left">@bankBranch</td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(receiverAccountNo))
                                                    {
                                                        <tr>
                                                            <td class="text-left">@(bankDeposit != null ? "Account Number" : mobileTransfer != null ? "Mobile Number" : cashPickup != null ? "MFCN" : "Account Number")</td>
                                                            <td class="text-left">@receiverAccountNo</td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(receiverCity))
                                                    {
                                                        <tr>
                                                            <td class="text-left">City</td>
                                                            <td class="text-left">@receiverCity</td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(transactionStaff) && transactionStaff != "N/A")
                                                    {
                                                        <tr>
                                                            <td class="text-left">Transaction Staff</td>
                                                            <td class="text-left"><a href="">@transactionStaff</a></td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td class="text-left">Receiving Country</td>
                                                        <td class="text-left">@receiverCountry</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Sending Amount</td>
                                                        <td class="text-left">@sendingCurrencySymbol @Model.SendingAmount.ToString("N2")</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Fee</td>
                                                        <td class="text-left">@sendingCurrencySymbol @Model.Fee.ToString("N2")</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Amount Paid</td>
                                                        <td class="text-left">@sendingCurrencySymbol @Model.TotalAmount.ToString("N2")</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Exchange Rate</td>
                                                        <td class="text-left">1 @Model.SendingCurrency = @Model.ExchangeRate.ToString("N6") @Model.ReceivingCurrency</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">@receiverName will receive</td>
                                                        <td class="text-left">@receivingCurrencySymbol @Model.ReceivingAmount.ToString("N2") @Model.ReceivingCurrency</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Payment Method</td>
                                                        <td class="text-left">@Model.SenderPaymentMode</td>
                                                    </tr>
                                                    @if (!string.IsNullOrEmpty(Model.PaymentReference))
                                                    {
                                                        <tr>
                                                            <td class="text-left">Payment Reference</td>
                                                            <td class="text-left">@Model.PaymentReference</td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.TransferReference))
                                                    {
                                                        <tr>
                                                            <td class="text-left">Transfer Reference</td>
                                                            <td class="text-left">@Model.TransferReference</td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td class="text-left">Date</td>
                                                        <td class="text-left">@Model.TransactionDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer bg-light">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12 col-xs-12 offset-lg-3 text-center">
                                            <a href="@Url.Action("Index", "TransactionHistory")" class="btn btn-primary btn-round">
                                                <i class="fa fa-angle-left"></i> Back to Transactions
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .pcoded-content {
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        clear: both;
        overflow: hidden;
    }
    .pcoded-inner-content {
        clear: both;
        overflow: hidden;
    }
    .main-body {
        clear: both;
        overflow: hidden;
    }
    .page-wrapper {
        clear: both;
        overflow: hidden;
    }
    .page-body {
        clear: both;
        overflow: hidden;
        padding: 0;
    }
    .card {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 4px;
        margin-bottom: 20px;
        clear: both;
        overflow: hidden;
    }
    .card-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #dee2e6;
        padding: 15px 20px;
        clear: both;
        overflow: hidden;
    }
    .card-header::after {
        content: "";
        display: table;
        clear: both;
    }
    .card-body {
        padding: 20px;
        clear: both;
        overflow: hidden;
    }
    .card-footer {
        background-color: #f8f9fa;
        border-top: 1px solid #dee2e6;
        padding: 15px 20px;
        clear: both;
        overflow: hidden;
    }
    .text-primary {
        color: #007bff !important;
    }
    .text-success {
        color: #28a745 !important;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
    }
    .table-bordered {
        border: 1px solid #dee2e6;
        margin-bottom: 0;
    }
    .table-bordered td {
        border: 1px solid #dee2e6;
        padding: 8px;
    }
    .btn-round {
        border-radius: 20px;
    }
    .f-right {
        float: right;
    }
    .f-left {
        float: left;
    }
    .m-t-5 {
        margin-top: 5px;
    }
    .m-b-0 {
        margin-bottom: 0;
    }
    .m-r-5 {
        margin-right: 5px;
    }
    .p-t-10 {
        padding-top: 10px;
    }
    .p-b-10 {
        padding-bottom: 10px;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
        clear: both;
    }
    .col-lg-6.offset-lg-3 {
        margin-left: 25%;
        margin-right: 0;
    }
    @@media (max-width: 991px) {
        .col-lg-6.offset-lg-3 {
            margin-left: 0;
        }
    }
</style>
