@model MoneyFex.Web.ViewModels.AddMoneyToWalletSuccessViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Cash Pickup Complete";
    var mfcn = ViewBag.MFCN as string ?? "N/A";
}

<div class="real_form pattern2 pdt40">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                <div class="login_signup mb50 clearfix text-center">
                    <i class="fa fa-check-circle fa-4x text-primary mb30"></i>
                    <h2>You've sent <span class="text-primary">@Model.Currency@Model.Amount.ToString("N2")</span> to @Model.ReceiverName</h2>
                    <h4 class="mt20">The MFCN for this transaction is <span class="text-primary">@mfcn</span></h4>
                    <p class="mt20 text-muted">Receipt number: <strong>@Model.ReceiptNo</strong></p>
                    <p class="mt10 text-muted">We've sent a message to <span class="text-primary">@Model.ReceiverName</span></p>
                    <hr />
                    <p class="text-muted">The progress of this transaction is shown on your dashboard</p>
                </div>
                <div class="text-center clearfix">
                    <hr />
                    <a asp-controller="TransferMoneyNow" asp-action="Index" class="btn btn-primary btn-lg mb30">Send More Money</a>
                    <div class="clearfix mb10"></div>
                    <a asp-controller="Customer" asp-action="Dashboard"><i class="fa fa-chevron-left" aria-hidden="true"></i> Go to dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>

